.orderheading{
    font-size: 30px;
    margin-bottom: 25px;
}
table,tr,td,th{
    border: 1px solid lightgray;
    border-collapse: collapse;
}
th{
    font-weight: bold;
}
.recentorders1{
    padding: 10px 25px;
    font-weight: bold;
}
.recentorders{
    padding: 10px 60px;
    font-weight: var(--textColor);
}
td{
    font-size: 14px;
    font-weight: 500;
}
td:last-child{
    color: var(--primaryColor);
    cursor: pointer;
}
td:last-child:hover{
    color: var(--yellowColor);
    cursor: pointer;
}
