.fCard {
  position: relative;
  background: #f4f6fa;
  text-align: center;
  border: 1px solid #f4f6fa;
  border-radius: 10px;
  padding: 20px 0px 18px 0px;
  margin-bottom: 20px;
  min-height: 180px;
  transition: 0.2s;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fCard:hover {
  background: #fff;
  border: 1px solid #bce3c9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.fCard:hover h4 {
  color: var(--primaryColor);
}

.imgCont {
  height: 80px;
  width: 80px;
}

.fCard h4 {
  color: var(--textColor);
  transition: 0.2s;
}

.fCard p {
  color: var(--typoColor);
  font-size: 14px;
}