.Container{
    width: 600px;
    margin: 0 auto;
}

.modal_content{
    position: relative;
    border-radius: 25px;
    padding: 20px;
    border: 1px solid #BCE3C9;
}

.modal_body{
    padding: 12px;

}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 3.5px;
}
.modal_Poster{
    width: 500px;
    height: 400px;
    margin: 0 0 0 auto;
    background-image: url(../assets/Modal_poster.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.modal_top{
    font-size: 16px;
    color: #FDC040;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.2;
}


.modal_mid{
    width: 100%;
}

.modal_mid h4{
    max-width: 57%;
    margin-bottom: 20px;
    font-size: 29px;
    line-height: 1.23;
    font-weight: 700;
    line-height: 1.2;
}

.modal_mid .row{
    display: flex;

}

.modal_mid .row .box{
    display: flex;
    align-items: center;
    margin: 15px 0 30px 0;
}

.box .price{
    font-size: 40px;
    text-decoration: none;
    font-weight: 900;
    color: #3BB77E;
}

.price_mini_1{
    font-size: 9px !important;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 6px;
    display: block;
    color: #FDC040;
}
.price_mini_2{
    text-decoration: line-through;
    color: #B6B6B6;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    display: block;
}

.modal_bot{
    width: 100%;
}
.modal_bot p{
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #7E7E7E;
}