
.topCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 150px 25px 150px;
    font-size: 15px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 50px;
    
}

.contentLeft{
    flex: 0 0 auto;
    width: 25%;
}
.contentRight{
    flex: 0 0 auto;
    width: 25%;
}

.centerCont{
    padding: 0 150px 40px;
}

.table{
    width: 100%;
    border: 1px solid #f3f3f3;
}

.centerCont .table th{
    padding: 15px 20px;
    text-align: start;
    font-size: 15px;

}


.table td{
    padding: 15px 20px;
    text-align: start;
    font-size: 15px;
}
.centerCont .bg_active{
    background: #f3f3f3;
    color: #535353 !important;
}

.botCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px 25px 150px;
    font-size: 15px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 50px;
}

.bot_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.follow{
    display: flex;
    align-items: center;
}

.follow span{
    margin-right: 15px;
}
.follow ul{
    display: flex;
}

.follow ul li{
    margin: 0 10px;

}
.Im_li{
    margin-bottom: 5px;
    font-size: 13px !important;
}
.note{
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 500;
}





