.cart {
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  background-color: #def9ec;

  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in;
  color: var(--primaryColor);
  border: none;
  cursor: pointer;
  top: 0;
}

.cart:hover {
  color: #fff;
  background-color: var(--primaryColor);
  top: -5px;
  transition: all 0.3s ease;
}
