.imgCont {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  max-height: 320px;
  padding: 25px 25px 0 25px;
  margin-top: 20px;
}

.productCard {
  position: relative;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s ease-in;
}

.productCard:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #bce3c9;
}

.contentCont {
  padding: 0 20px 20px 20px;
}

.contentCont h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--textColor);
  transition: 0.3s ease-out;
}
.contentCont h4:hover {
  color: var(--primaryColor);
}

.cat {
  color: #adadad;
  font-size: 12px;
  margin-bottom: 10px;
}

.comp {
  color: #adadad;
  font-size: 14px;
  margin-bottom: 10px;
}

.comp span {
  color: var(--primaryColor);
  font-weight: 600;
}

.tag {
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  padding: 9px 20px 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #67bcee;
  z-index: 1;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cPrice {
  font-size: 18px;
  font-weight: bold;
  color: #3bb77e;
}

.oPrice {
  font-size: 14px;
  color: #adadad;
  margin: 0 0 0 7px;
  text-decoration: line-through;
  font-weight: bold;
}

.cartBtn {
  position: relative;
  display: inline-block;
  padding: 12px 20px 12px 20px;
  border-radius: 4px;
  background-color: var(--primaryColor) !important;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  top: 0;
  margin-top: 10px;
}

.rating {
  margin: 5px 0;
}

.cartBtn:hover {
  color: #fff !important;
  background-color: #fdc040 !important;
  top: -5px;
  transition: all 0.3s ease;
}
