.editfield{
    display: flex;
    column-gap: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--primaryColor);
    padding: .2rem;

}
.editfield > select{
    border: none;
    background-color: white;
}
.editfield>.common{
    display: flex;
    outline: none;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    position: relative;

}
.editfield>.common:hover{
    background-color: lightgray;
}
.editfield>.common1{
    display: flex;
    background: var(--secondaryColor);
    outline: none;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    position: relative;
}
.linkcont{
    position: absolute;
    top: 2.1rem;
    left: -5rem;
    min-width: 200px; 
    padding: 5px;
    background-color: white;
    border: none;
    box-shadow: 0 0 5px 0 gray;

    & .divs{
        display: grid;
        grid-template-columns: repeat(7,1fr);
    }
}
input[type="checkbox"]{
box-shadow: none;
height: auto;
width: auto;
margin-left: 5px;
}
label{
    font-style: normal;
}
.buttoncont{
    padding-left: 5px;
    margin:10px 0px;
}