.leftsinglepost{
    max-height: 2000px;
    overflow-y:scroll;
   scroll-behavior:auto;
   scrollbar-width: none;
}

.contentcontainer{
    display: flex;
    justify-content: space-between;
}
.leavecomment{
    margin: 30px 0;
}
.star{
    margin-bottom: 20px;
}
.textarea>textarea{
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 100%;
}
.marginbottom{
    margin-bottom: 30px;
}
.website>input{
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 100%;
}
.nameemail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}
.nameemail>input{
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 50%;
}
.cartcontainer{
    flex-wrap: wrap;
    width: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
    column-gap: 20px;
}
.rightcont{
    width: 29%;
    margin-top: 10px;
    padding: 10px;
}

.catogory{
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-right: 20px;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 0 5px 0 rgb(229, 228, 228);
}
.griddata{
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    margin-bottom: 10px;
}
.borderbottom{
    background-color: lightgray;
    width: 100%;
    height: 1px;
    padding: 0%;
    margin: 20px 0;

    position: relative;
}
.borderbottom > i{
    top: -2px;
    position: absolute;
    display: inline-block;
    background-color: var(--primaryColor);
    height: 2px;
    width: 40%;
}
.imgcontainer{
    border-radius: 20px;
}
.img{
    border-radius: 20px;
}
.content{
    padding: 10px 50px;
}
.content>p:first-child{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}
.content>p:nth-child(2){
    font-size: 18px;
    margin: 20px 0;

    font-weight: 500;
    color: var(--typoColor);

}
.content>p:nth-child(3){
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--typoColor);
}
.SinglepostHeading{
    font-size: x-large;
    margin: 20px 0;
}
.para1{
    font-size: large;
    margin-top: 30px;
    margin: 40px 0;

}
.postcard{
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(240, 249, 247);
}
.postcard>p{
    color: var(--typoColor);
    font-size: 25px;
}
.socialmedia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    margin: 20px 0;
    border-top: 1px solid lightgray;
}
.btncontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}
.socialicon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    cursor: pointer;
}
.authorprofile{
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 30px;
}
.authorpiccontainer{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}
.authorpic{
    width: 80px;
    height: 80px;
}
.authorpic>div{
    width: 100%;
}
.authorpiccontainer>div>span{
font-size: 30px;
color: black;
font-weight: 600;   
}
.authorpiccontainer>div>p{
    color: var(--typoColor);
   display: flex;
   align-items: center;
   column-gap: 20px;
    }
    .name{
        font-size: 30px;
        margin-bottom: 20px;
    }
.leave{
    font-size: 30px;
    margin-bottom: 10px;
}
