.TrackOrderheading{
    font-size: 30px;
    margin-bottom: 25px;

}
.TrackOrderpara{
    font-size: medium;
    margin-bottom: 25px;
}
.label{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}
.input{
    padding: 15px 15px ;
    border-radius: 10px;
    min-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
input:focus{
outline: none;
}
