.iconCont{
display: flex;
justify-content: center;
align-items: center;
width: 35px;
height: 35px;
cursor: pointer;
border-radius: 50%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
background-color: var(--primaryColor);
color: rgb(51, 49, 49);
transition: all .3s linear;
&:hover{
box-shadow: none;
}
}