.allUsers{
    display: flex;
    align-items: center;
    background-color: #fff;
    }
.btnCont{
display: flex;
justify-content: space-between;
align-items: center;
}
.btnCont1{
display: flex;
column-gap: 20px;
align-items: center;
}
.heading{
        font-size: 2rem;
        color: var(--textColor);
        font-weight: 400;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        }
    .cont{
    width: 90%;
    margin: 0 auto;
    border: 1px solid var(--primaryColor);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 50px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    .btn{
        padding:10px 20px;
        color:var(--primaryColor);
        background-color: #fff;
        border: 1px solid var(--primaryColor);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
column-gap: 20px;
        border-radius: .5rem;
        transition: all .3s linear;
        display: flex;
        justify-content: space-between;
        &:hover{
            background-color: var(--primaryColor);
        color: #fff;

        }
    }
    .btn3{
        padding:10px 20px;
        color:var(--primaryColor);
        background-color: #fff;
        border: 1px solid var(--primaryColor);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
        border-radius: .5rem;
        column-gap: 10px;
        transition: all .3s linear;
display: flex;
justify-content: space-between;
        &:hover{
            background-color: var(--primaryColor);
        color: #fff;

        }
    }
    .btn1{
        border-radius: .5rem;
        padding:10px 10px;
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
        border: 1px solid var(--primaryColor);
        background-color: var(--primaryColor);
        color:white;
        transition: all .3s linear;
        &:hover{
            color:var(--primaryColor);
            background-color: #fff;
        }
        }

.square{
width: 80px;
border-radius: 8px;
height: 50px;
border:1px  solid var(--primaryColor);
}
.btnCont input{
width: 70%;
border: none;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 10px;
border-radius: 10px;
}
.btnCont label{
font-size: 1.4rem;
}
.btnCont input::placeholder{
font-size: 1.5rem;
color: var(--primaryColor);
}

.tableCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 20px;
margin-top: 20px;
border: 1px solid var(--primaryColor);

}
.tableCont table{
    width: 100%;
    }
.tableCont input{
width: 40px;
height: 20px;
}