.li > a,
.li > div {
  text-decoration: none;
  color: #7e7e7e;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.li > div > .span2 {
  color: #3bb77e;
}

.li {
  border-right: 1px solid #7e7e7e;
  padding: 0 10px 0 0;
}

.li:last-child {
  border-right: none;
  padding: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ececec;
  background-color: white;
}

.content > p {
  color: #7e7e7e;
}

.left,
.right {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.iconCont {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.span1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offerCont {
  display: none;
}

.offerContContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3bb77e;
  height: 50px;
  color: white;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

@media screen and (max-width: 1025px) {
  .headerTop {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .offerCont {
    display: block;
  }

  .SearchBarAndLocation {
    display: none;
  }
}
