.navBarCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ececec;
    padding: 10px;
}

.navlistcont {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navlistcont ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    text-transform: capitalize;
    font-family: Quicksand, sans-serif;
    color: black !important;
    font-weight: 800;

}

.navlistcont ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &:hover {
        color: #3bb77e;
    }
}

.navlistcont ul li span:last-child {
    color: var(--typoColor);
}

.dropdown {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    padding: 1rem;
    background-color: #3bb77e;
    text-transform: capitalize;
    border-radius: 5px;
    gap: 10px;
}

.dropdown>span:first-child {
    position: relative;
    top: 2px;
    font-size: large;
}



.iconCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconCont>span:first-child {
    font-size: x-large;
    color: #3bb77e;
    font-weight: 900;
}

.iconCont>span:last-child {
    font-size: small;
    color: var(--typoColor);
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imgCont {
    display: flex;
    justify-content: center;
    object-fit: contain;
}