.cardCont{
padding: 20px;
display: flex;
border-radius: 7px;
justify-content: space-between;
align-items: center;
column-gap: 50px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.left{
display: flex;
flex-direction: column;
column-gap: 20px;
}
.left>strong{
font-size: 2.5rem;
}
.cardCont .iconCont{
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
color: white;
border-radius: 8px;
transition: all .5s linear;
&:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
}