.layoutCont{
display: flex;
height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
width: 100%;
overflow: scroll;
}
.container{
position: relative;
display: flex;

}
.footer{
position: sticky;
bottom: 0%;
}



