.cont {
  display: flex;
  width: 100%;
  margin: 50px auto;
  gap: 40px;
  height: 95vh;
  display: flex;
  border-radius: 15px;
  justify-content: center;

  align-items: center;
  background-color: white;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right > h1 {
  font-size: xx-large;
}

.right > p > span {
  color: var(--primaryColor);
  font-weight: 500;
}

.rememberpass {
  display: flex;
  color: var(--typoColor);
}

.rememberpass > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.right input {
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 64px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
}

.securityCode {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.code span {
  margin: 4px;
  font-size: 2vw;
}

.code span:nth-child(1) {
  color: var(--primaryColor);
}

.code span:nth-child(2) {
  color: rgb(252, 101, 101);
}

.code span:nth-child(3) {
  color: rgb(12, 99, 128);
}

.code span:nth-child(4) {
  color: #fc6565;
}

.code {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;

  height: 64px;
  line-height: 64px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  padding: 0px 40px;
  background: rgb(188, 227, 201);
}

.rememberpass {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgCont {
  width: 100px;
}

.right button {
  font-size: 17px;
  font-weight: 500;
  padding: 20px 40px;
  width: 60%;
  color: #ffffff;
  border: none;
  background-color: #253d4e;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  position: relative;
  bottom: -10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    bottom: -5px;
    background: var(--primaryColor);
  }
}
